<!-- Loop over each object in the games array -->
{{#each games as |game| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      {{#if logged_in}}
        <a href="/game/{{game.id}}">{{game.name}}</a>
      {{else}}
        {{game.name}}
      {{/if}}
    </h2>
    <p>
      <span for="img" aria-label="money">💲</span>
      <!-- Pass needed_funding value to the helper function -->
      <span class="dollar-amount">
        {{!-- {{format_amount project.needed_funding}} --}}
        $100.00
      </span>
      needed!
    </p>
    <p>Created by {{game.user.username}} on 
      {{!-- {{format_date project.date_created}} --}}
      some date
    </p>
  </div>
  <div class="col-md-7">
    <p>
      {{game.name}}
    </p>
  </div>
</div>
{{/each}}
